.kbsa{
text-align: center;
}
.kbsa1{
text-align: center;
}
.content{
padding-left: 30%;
padding-right: 30%;
text-align: center;
}
#menu{
position: relative;

}
.item1{
margin-right:85%;
    border-style: double;
    border-color: darkmagenta;
    padding: 3%;
border-radius: 5%;
}
.item2{
    margin-right:85%;
    border-style: double;
    border-color: darkmagenta;
    padding: 3%;
    border-radius: 5%;
    }
    .item3{
        margin-right:85%;
        border-style: double;
        border-color: darkmagenta;
        padding: 3%;
        border-radius: 5%;
        }