html, body
{   
    margin: 0%
    padding:0%
}
head
{
    position: relative;
}

.titulo
{
    text-align: center;
    color: darkmagenta;
}

.menu
{
    position:absolute    ;
    
}
li
{
    
    color:darkmagenta;

    list-style: none;
    border: solid, 3px;
    border-color: darkblue;
padding: 5px;
display: inline;
}
