body
{
text-align: center;
    color: white;
    background-color: blueviolet;
}


.imagem1
{
    background-image:url(simboloFamilia.\ png.png) ;
background-repeat: repeat;
background-attachment: fixed;
background-position:center;
}

.paragrafo
{
    text-align: center;
}

